<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta 
    </head>
    <body>
        <h1>Home#top</h1>
        <p>Find me in app/views/home/top.html.erb</p>
        <ul>
            <li>大会名<input type="text" placeholder="闘劇"></li>
            <li>参加者(行毎に参加者名を入力して下さい)</li>
            <textarea name="member" rows="32" cols="20"
placeholder="ウメハラ
ときど
マゴ"
            ></textarea>
            <li>ゲームタイトル<input type="text" placeholder="マリオブラザーズ"</li>
        </ul>
        
    </body>
</html>